#django 5.1.2
djangorestframework
djangorestframework-simplejwt
drf-yasg
django-cors-headers
#django-filters
#django-multipart-parser
django-formtools
python-decouple
#django.core.mail
#django-template.loader
#json